BOOTPROTO='static'
BROADCAST=''
ETHTOOL_OPTIONS=''
IPADDR='__IPADDR__/__BITS__'
MTU=''
NAME='Ethernet Controller'
NETMASK=''
NETWORK=''
REMOTE_IPADDR=''
STARTMODE='auto'
USERCONTROL='no'
POST_UP_SCRIPT='/etc/sysconfig/network/scripts/ifup-route.__INTERFACE__'
